.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
node_modules/**
*.vsix
languagetool/**/*.zip
languagetool/**/CHANGES.*
languagetool/**/COPYING.txt
languagetool/**/README.md
languagetool/**/testrules.*
languagetool/**/third-party-licenses
languagetool/**/*.bat
languagetool/**/org/
