.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
*.vsix
.git/**
.gitignore
.DS_Store
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.* 
languagetool/**/*.zip
languagetool/**/CHANGES.*
languagetool/**/COPYING.txt
languagetool/**/README.md
languagetool/**/testrules.*
languagetool/**/third-party-licenses
languagetool/**/*.bat
